#################################################################################
## Copyright (C) 2018 Donald J. Bartley <djbcoffee@gmail.com>
##
## This source file may be used and distributed without restriction provided that
## this copyright statement is not removed from the file and that any derivative
## work contains the original copyright notice and the associated disclaimer.
##
## This source file is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by the Free
## Software Foundation; either version 2 of the License, or (at your option) any
## later version.
##
## This source file is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
## FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
## details.
##
## You should have received a copy of the GNU General Public License along with
## this source file.  If not, see <http://www.gnu.org/licenses/> or write to the
## Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
## 02110-1301, USA.
#################################################################################
## File: QVIC-2C.ucf
##
## Description:
## User contraints file for the QVIC-2C project.
#################################################################################
## DJB 11/16/18 Created.
#################################################################################

#PACE: Start of Constraints generated by PACE

#PACE: Start of PACE I/O Pin Assignments
NET "Clock"  LOC = "P16" | BUFG = CLK ; 
NET "CS"  LOC = "P1"  ; 
NET "HostAddress<0>"  LOC = "P60"  ; 
NET "HostAddress<1>"  LOC = "P62"  ; 
NET "HostDataPins<0>"  LOC = "P49" | SLEW = FAST ; 
NET "HostDataPins<1>"  LOC = "P50" | SLEW = FAST ; 
NET "HostDataPins<2>"  LOC = "P51" | SLEW = FAST ; 
NET "HostDataPins<3>"  LOC = "P52" | SLEW = FAST ; 
NET "HostDataPins<4>"  LOC = "P56" | SLEW = FAST ; 
NET "HostDataPins<5>"  LOC = "P57" | SLEW = FAST ; 
NET "HostDataPins<6>"  LOC = "P58" | SLEW = FAST ; 
NET "HostDataPins<7>"  LOC = "P59" | SLEW = FAST ; 
NET "HSync"  LOC = "P32" | SLEW = FAST ; 
NET "nCS"  LOC = "P64"  ; 
NET "PixelColor<0>"  LOC = "P17" | SLEW = FAST ; 
NET "PixelColor<1>"  LOC = "P18" | SLEW = FAST ; 
NET "PixelColor<2>"  LOC = "P19" | SLEW = FAST ; 
NET "PixelColor<3>"  LOC = "P20" | SLEW = FAST ; 
NET "PixelColor<4>"  LOC = "P22" | SLEW = FAST ; 
NET "PixelColor<5>"  LOC = "P23" | SLEW = FAST ; 
NET "PixelColor<6>"  LOC = "P24" | SLEW = FAST ; 
NET "PixelColor<7>"  LOC = "P25" | SLEW = FAST ; 
NET "RnW"  LOC = "P63"  ; 
NET "SramAddress<0>"  LOC = "P36" | SLEW = FAST ; 
NET "SramAddress<10>"  LOC = "P48" | SLEW = FAST ; 
NET "SramAddress<11>"  LOC = "P2" | SLEW = FAST ; 
NET "SramAddress<12>"  LOC = "P9" | SLEW = FAST ; 
NET "SramAddress<13>"  LOC = "P7" | SLEW = FAST ; 
NET "SramAddress<1>"  LOC = "P35" | SLEW = FAST ; 
NET "SramAddress<2>"  LOC = "P34" | SLEW = FAST ; 
NET "SramAddress<3>"  LOC = "P15" | SLEW = FAST ; 
NET "SramAddress<4>"  LOC = "P13" | SLEW = FAST ; 
NET "SramAddress<5>"  LOC = "P12" | SLEW = FAST ; 
NET "SramAddress<6>"  LOC = "P11" | SLEW = FAST ; 
NET "SramAddress<7>"  LOC = "P10" | SLEW = FAST ; 
NET "SramAddress<8>"  LOC = "P5" | SLEW = FAST ; 
NET "SramAddress<9>"  LOC = "P4" | SLEW = FAST ; 
NET "SramDataPins<0>"  LOC = "P38" | SLEW = FAST ; 
NET "SramDataPins<1>"  LOC = "P39" | SLEW = FAST ; 
NET "SramDataPins<2>"  LOC = "P40" | SLEW = FAST ; 
NET "SramDataPins<3>"  LOC = "P42" | SLEW = FAST ; 
NET "SramDataPins<4>"  LOC = "P43" | SLEW = FAST ; 
NET "SramDataPins<5>"  LOC = "P44" | SLEW = FAST ; 
NET "SramDataPins<6>"  LOC = "P45" | SLEW = FAST ; 
NET "SramDataPins<7>"  LOC = "P46" | SLEW = FAST ; 
NET "SramnWE"  LOC = "P8" | SLEW = FAST ; 
NET "VSync"  LOC = "P31" | SLEW = FAST ; 

#PACE: Start of PACE Area Constraints

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE
